@keyframes fadeInChatHead {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.chronic-plugin {
	position: relative;

	width: 850px;
	height: auto;

	overflow: hidden;

	margin-top: 20px;
 
  	border: 1px solid rgb(207, 207, 207);
  	border-radius: 3px;
  
  	background-color: white;

	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.start-button {
		width: 150px;

		margin: 10px auto;
		padding: 10px;

		display: block;

		cursor: pointer;

		border-radius: 10px;

		background-color: #8085CA;

		p {
			font-weight: bold;
			text-align: center;
		}
	}

	.chat-head {
		width: 80px;
		height: 80px;

		border-radius: 50%;

		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);

		background-size: cover;

		animation: fadeInChatHead 1s;
		animation-iteration-count: 1;
		animation-direction: alternate;

		&.main-head {
			width: 150px;
			height: 150px;

			margin: 40px auto;
		}
	}

	.chronic-post {
		width: 50%;
		min-height: 300px;

		float: left;
		
		margin-bottom: 40px;

		.post-img {
			width: 200px;
			height: 200px;

			border-radius: 50%;

			margin: 0 auto;
			margin-bottom: 10px;

			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
		}		

		.post-text {
		    width: 70%;
		    height: auto;

		    margin: 0 auto;
		    padding: 5px;
		    
		    font-size: 15px;
		    text-align: center;

		    border-radius: 5px;
		    
		    background-color: #F3F3F3;
		    
		    box-shadow: 0px 5px 1px rgba(0, 0 ,0, 0.1);

		    .likes {
		    	width: 100%;

		    	display: block;

		    	&:before {
		    		display: inline-block;
		    	}

		    	a {
		    		&:after {
		    			display: inline-block;

		    			content: ', ';
		    		}

		    		&:last-child:after {
		    			display: inline-block;

		    			margin-left: 7px;

		    			content: 'gefällt das';
		    			color: black;
		    		}
		    	}
		    }
		}
	}
}